/* Common parts */

body {
    background-color: #3e025a;
    margin: 0;
}

header {
    background-color: #585858;
    background-image: url("img/back-header.jpg");
    background-size: 2650px;
    background-position-y: -830px;
    background-position-x: center;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#motus {
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

#imgHeader {
    width: 600px;
}

ul {
    padding: 0;
}

.scaleDown6 {
    transform: scale(0.6);
}