#tableau {
  margin-bottom: 36px;
  margin-top: 42px;
  width: fit-content;
  margin-inline: auto;
}

.ligne {
  display: flex;
  justify-content: center;
}

.ligne > * {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: #12d5f9;
  border-width: 4px;
  color: white;
  background-color: rgb(44 1 81);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  width: 1.5em;
  height: 1.5em;
  margin: -4px;
}

.ok {
  background-color: rgb(255, 0, 0);
}

.oknotplaced {
  background-color: #f5d400;
}

.life {
  max-width: 50px;
  max-height: 50px;
  margin-inline: 5px;
}

.hidden {
  display: none;
}

.numberOfTryDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  color: white;
}

#numberOfTryText {
  text-align: center;
}


ul {
  padding-inline-start: 0;
}

#lives {
  direction: rtl;
}