#rulesBlock {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

#rules {
    padding: 20px;
    margin-inline: 12px;
    color: aliceblue;
    background: rgb(0 0 0 / 20%);
    border: double;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
    background: rgba(0, 0, 0, 0);
}